
* {
  box-sizing: border-box;
  color: black;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

header {
  padding: 2em;
  background: white;
  box-shadow: 0 0 20px 11px #0000001a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
header a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.about-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}
.about-item{
  font-size: medium;
}
.footer-background{
  position: fixed;
  bottom: 0;
  z-index: -1;
}

button {
  background-color: #3b3b3b; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.active{
  color: #3b3b3b;
}
.header-title{
  font-size: 30px;
  font-weight: bold;
  color: #3b3b3b;
}
.table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 3rem;
}
.table-row{
  justify-content: stretch;
  display: flex;
  margin-bottom: 0.1em;
  /*box-shadow: 0px 3px 5px 0px;*/
  border-radius: 1em;
}
.table-cell{
  flex: 1;
  display: flex;
  padding: 1em;
  border: 1px solid #0000001a;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.pagination{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.container{
  padding: 0 5vw;
  margin-top: 3rem;
}
input{
  padding: 1rem;
  border: 1px solid #0000001a;
  border-radius: 5px;
  margin-left: 1rem;
  font-size: 1rem;

}
.big-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  box-shadow: 0 0 20px 11px #0000001a;
}
